# This file provides an overview of code owners in the `control-plane` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `control-plane` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @akgalwas @franpog859 @mvshao @VOID404 @koala7659 @kyma-project/gopher

# All developers working on this repository are able to edit main values.yaml file.
/resources/kcp/values.yaml @akgalwas @franpog859 @mvshao @VOID404 @koala7659 @k15r @marcobebway @nachtmaar @ebensom @cortey @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @jakobmoellersap @adityabhatia @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @kyma-project/gopher

# All developers working on this repository are able to edit scripts directory.
/scripts @akgalwas @franpog859 @mvshao @VOID404 @koala7659 @ebensom @kyma-project/gopher

# Registration job is used by provisioner and kyma-environment-broker
/resources/kcp/templates/registration-job.yaml @akgalwas @franpog859 @mvshao @VOID404 @koala7659 @kyma-project/gopher

# Kyma Environment Broker
/resources/kcp/charts/kyma-environment-broker @kyma-project/gopher @ebensom
/components/kyma-environment-broker @kyma-project/gopher @ebensom
/docs/kyma-environment-broker @kyma-project/gopher @ebensom
/components/schema-migrator/migrations/kyma-environment-broker @kyma-project/gopher @ebensom

# Runtime Provisioner
/resources/kcp/charts/provisioner @akgalwas @franpog859 @mvshao @VOID404 @koala7659
/components/provisioner @akgalwas @franpog859 @mvshao @VOID404 @koala7659
/docs/provisioner @akgalwas @franpog859 @mvshao @VOID404 @koala7659
/components/schema-migrator/migrations/provisioner @akgalwas @franpog859 @mvshao @VOID404 @koala7659
/tests/provisioner-tests @akgalwas @franpog859 @mvshao @VOID404 @koala7659

# Reconciler
/resources/kcp/charts/component-reconcilers @tobiscr @kwiatekus @cortey @clebs @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @jakobmoellersap @adityabhatia @janmedrek
/resources/kcp/charts/mothership-reconciler @tobiscr @cortey @clebs @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @jakobmoellersap @adityabhatia @janmedrek
/tools/reconciler @tobiscr @cortey @clebs @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @jakobmoellersap @adityabhatia @janmedrek


# e2e-provisioning
/tests/e2e/provisioning @kyma-project/gopher @ebensom

# Kyma metrics collector
/resources/kcp/charts/kyma-metrics-collector @k15r @lilitgh @marcobebway @nachtmaar @mfaizanse @friedrichwilken @vladislavpaskar @raypinto
/components/kyma-metrics-collector @k15r @lilitgh @marcobebway @nachtmaar @mfaizanse @friedrichwilken @vladislavpaskar @raypinto

# OIDC-Kubeconfig-Service
/components/kubeconfig-service @ebensom @lumi017 @AdrianPei @gczuczy @i332322 @zralt
/resources/oidc-kubeconfig-service  @ebensom @lumi017 @AdrianPei @gczuczy @i332322 @zralt

# KCP CLI
/tools/cli @ebensom @lumi017 @kwiatekus @cortey @kyma-project/gopher @gczuczy @i332322 @zralt

# reconciler
/components/reconciler @kwiatekus @cortey @clebs @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @jakobmoellersap @adityabhatia

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko
