# This file is not part of official PostgreSQL chart
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "fullname" . }}-db-init
  namespace: {{ .Release.Namespace }}
data:
  init-provisioner-db.sql: |
    CREATE DATABASE {{ .Values.global.database.embedded.provisioner.name }};
  init-broker-db.sql: |
    CREATE DATABASE {{ .Values.global.database.embedded.broker.name }};
  init-reconciler-db.sql: |
    CREATE DATABASE {{ .Values.global.database.embedded.reconciler.name }};
