deployment:
  replicaCount: 1
  image:
    pullPolicy: Always
  resources: {}
  securityContext: # Set on container level
    runAsUser: 2000
    allowPrivilegeEscalation: false
  strategy: {} # Read more: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy
  nodeSelector: {}
  runAwsConfigMigration: false

security:
  skipTLSCertificateVeryfication: false

gardener:
  project: "" # Gardener project connected to SA
  kubeconfigPath: "/gardener/kubeconfig/kubeconfig"
  kubeconfig: "" # Base64 encoded Gardener SA key
  auditLogTenantConfigPath: "" # "/gardener/tenant/config"
  auditLogTenantConfigMapName: ""
  maintenanceWindowConfigPath: "" # "/gardener/maintenance/config"
  maintenanceWindowConfigMapName: ""
  secretName: "gardener-credentials"
  auditLogsPolicyConfigMap: ""
  manageSecrets: true
  clusterCreationTimeout: 2h
  clusterDeletionTimeout: 30m
  waitingForClusterDeletionTimeout: 4h
  clusterCleanupTimeout: 20m
  clusterCleanupResourceSelector: "https://service-manager."
  clusterUpgradeTimeout: 90m
  defaultEnableKubernetesVersionAutoUpdate: false
  defaultEnableMachineImageVersionAutoUpdate: false
  forceAllowPrivilegedContainers: false

support:
  l2OperatorRoleBindingSubject: "runtimeOperator"
  l3OperatorRoleBindingSubject: "runtimeAdmin"
  enabledCreatingRoleBindingForAdmin: false
  bindingsCreationTimeout: 5m

kymaRelease:
  preReleases:
    enabled: true
  onDemand:
    enabled: true

installation:
  timeout: 22h

upgrade:
  triggeringTimeout: 20m

runtimeAgent:
  configurationTimeout: 1h
  connectionTimeout: 1h

metrics:
  port: 9000

logs:
  level: "info"

tests:
  e2e:
    enabled: false
  hibernation:
    enabled: false
  gardener:
    providers: "Azure"
    azureSecret: "" # Name of Gardener secret for Azure
    gcpSecret: "" # Name of Gardener secret for GCP
  kyma:
    version: "1.14.0"
    preUpgradeVersion: "1.13.0"
  kubernetes:
    version: "1.18.12"
    upgradeVersion: "1.18.12"
  queryLogging: false
  timeouts:
    provisioning: "5h"
    deprovisioning: "4h"
    hibernation: "1h"
