global:
  images:
    cloudsql_proxy_image: "eu.gcr.io/kyma-project/tpi/cloudsql-docker/gce-proxy:v1.33.0-d587c1be"
    component_reconciler: "eu.gcr.io/kyma-project/incubator/reconciler/component:v20221129-c1d7dbc4"

# Default values for component-reconcilers.

nameOverride: ""
fullnameOverride: ""

options:
   verbose: false
   workerCount: 50

deployment:
  imagePullPolicy: "IfNotPresent"
  nodeSelector: {}
  resources: {}
  replicasCount: 1
  podDisruptionBudget: |
    maxUnavailable: 1

service:
  type: ClusterIP
  port: 8080
  istioPort: 15020

# needs to be enabled in https://github.tools.sap/kyma/management-plane-config/blob/master/resources/control-plane/config/base/kcp.yaml
# disable here to bypass deploy AuthorizationPolicy and ServiceMonitor in Pipeline Cluster
serviceMonitor:
  enabled: false
  scrapeTimeout: 30s
  interval: 60s