global:
  defaultTenant: 3e64ebae-38b5-46a0-b1ed-9ccee153a0ae
  images:
    cloudsql_proxy_image: eu.gcr.io/kyma-project/tpi/cloudsql-docker/gce-proxy:v1.29.0-alpine-5854b8b6
    mothership_reconciler: "eu.gcr.io/kyma-project/incubator/reconciler/mothership:be3fe478"
    component_reconciler: "eu.gcr.io/kyma-project/incubator/reconciler/component:be3fe478"
    containerRegistry:
      path: eu.gcr.io/kyma-project/control-plane
    schema_migrator:
      dir:
      version: "PR-1405"
    provisioner:
      dir:
      version: "PR-1463"
    kyma_environment_broker:
      dir:
      version: "f5f7b03c"
    kyma_environments_cleanup_job:
      dir:
      version: "PR-1380"
    kyma_environments_subaccount_cleanup_job:
      dir:
      version: "PR-1380"
    subscription_cleanup_job:
      dir:
      version: "PR-1346"
    kyma_metrics_collector:
      dir:
      version: "PR-1425"
    tests:
      provisioner:
        dir:
        version: "PR-1346"
      e2e_provisioning:
        dir:
        version: "PR-1346"
    busybox: eu.gcr.io/kyma-project/external/busybox:1.34.1
  isLocalEnv: false
  oauth2:
    host: oauth2
  livenessProbe:
    initialDelaySeconds: 30
    timeoutSeconds: 1
    periodSeconds: 10
  readinessProbe:
    initialDelaySeconds: 5
    timeoutSeconds: 1
    periodSeconds: 2

  components:
    - base
    - busola-migrator
    - cleaner
    - connectivity-proxy
    - istio-configuration
    - istio
    - ory
    - rafter
    - eventing
    - serverless
    - cluster-essentials
    - rma
    - sc-migration

  auditlog:
    configMapName: "kcp-auditlog-config"
    secretName: "kcp-auditlog-secret"
    script:
      configMapName: "kcp-auditlog-script"
    enableSeqHttp: false
    disabled: false

  provisioning:
    enabled: false

  kyma_environment_broker:
    enabled: false
    serviceAccountName: "kcp-kyma-environment-broker"
    secrets:
      integrationSystemCredentials:
        name: kcp-kyma-environment-broker-credentials
    environmentsCleanup:
      enabled: false

  provisioner:
    graphql:
      port: 3000
    secrets:
      integrationSystemCredentials:
        name: kcp-provisioner-credentials

  compass:
    registration:
      enabled: true
    tls:
      host: compass-gateway
      secure:
        oauth:
          host: compass-gateway-auth-oauth
    mtls:
      host: compass-gateway-mtls

  istio:
    gateway:
      name: "kyma-gateway"
      namespace: "kyma-system"
    proxy:
      port: 15020

  database:
    manageSecrets: true
    embedded:
      enabled: true
      provisioner:
        name: "provisioner"
      broker:
        name: "broker"
      reconciler:
        name: "reconciler"

      #TODO remove below after migration to separate user will be done
      provisionerDBName: "provisioner"
      brokerDBName: "broker"
    # Values for GCP managed PostgreSQL database
    managedGCP:
      # secret with a secret key used to encrypt particular data
      encryptionSecretName: "kcp-storage-client-secret"
      serviceAccountKey: ""
      instanceConnectionName: ""
      provisioner:
        name: ""
        user: ""
        password: ""
      broker:
        name: ""
        user: ""
        password: ""
      host: "localhost"
      hostPort: "5432"
      sslMode: ""

      #TODO remove below after migration to separate user will be done
      dbUser: ""
      dbPassword: ""
      provisionerDBName: ""
      brokerDBName: ""

  kyma_metrics_collector:
    enabled: false

  mothership_reconciler:
    enabled: false
    expose: true
    authentication: true
    serviceAccountName: "mothership-reconciler"
    auditlog:
      enabled: true
      logPath: "/var/log/auditlog"
      configMapName: "kcp-auditlog-config"
      secretName: "kcp-auditlog-secret"
      # this will create the predefined configMap and secret with data for test purposes only. Should never be enabled on Production.
      useTestConfig: false
      image: eu.gcr.io/kyma-project/tpi/fluent-bit
      tag: 1.8.9-aef5095d
      persistence:
        enabled: true
        accessMode: ReadWriteOnce
        size: 2Gi
        storageClass: ""
  component_reconcilers:
    enabled: false
    authentication: true

  oathkeeper:
    host: ory-oathkeeper-proxy.kyma-system.svc.cluster.local
    port: 4455

pairing-adapter:
  enabled: false

migratorJobs:
  enabled: true
