global:
  defaultTenant: 3e64ebae-38b5-46a0-b1ed-9ccee153a0ae
  images:
    cloudsql_proxy_image: eu.gcr.io/kyma-project/tpi/cloudsql-docker/gce-proxy:v1.23.0-alpine-6d753005
    containerRegistry:
      path: eu.gcr.io/kyma-project/control-plane
    schema_migrator:
      dir:
      version: "PR-869"
    provisioner:
      dir:
      version: "PR-869"
    kyma_environment_broker:
      dir:
      version: "PR-853"
    kyma_environments_cleanup_job:
      dir:
      version: "PR-857"
    kyma_environments_subaccount_cleanup_job:
      dir:
      version: "PR-857"
    subscription_cleanup_job:
      dir:
      version: "PR-568"
    kyma_metrics_collector:
      dir:
      version: "PR-852"
    tests:
      provisioner:
        dir:
        version: "PR-699"
      e2e_provisioning:
        dir:
        version: "PR-853"
  isLocalEnv: false
  oauth2:
    host: oauth2
  livenessProbe:
    initialDelaySeconds: 30
    timeoutSeconds: 1
    periodSeconds: 10
  readinessProbe:
    initialDelaySeconds: 5
    timeoutSeconds: 1
    periodSeconds: 2

  auditlog:
    configMapName: "kcp-auditlog-config"
    secretName: "kcp-auditlog-secret"
    script:
      configMapName: "kcp-auditlog-script"
    enableSeqHttp: false
    disabled: false

  provisioning:
    enabled: false

  kyma_environment_broker:
    enabled: false
    secrets:
      integrationSystemCredentials:
        name: kcp-kyma-environment-broker-credentials
    environmentsCleanup:
      enabled: false

  provisioner:
    graphql:
      port: 3000
    secrets:
      integrationSystemCredentials:
        name: kcp-provisioner-credentials

  compass:
    registration:
      enabled: true
    tls:
      host: compass-gateway
      secure:
        oauth:
          host: compass-gateway-auth-oauth
    mtls:
      host: compass-gateway-mtls

  istio:
    gateway:
      name: "kyma-gateway"
      namespace: "kyma-system"
    proxy:
      port: 15020

  database:
    manageSecrets: true
    embedded:
      enabled: true
      provisioner:
        name: "provisioner"
      broker:
        name: "broker"

      #TODO remove below after migration to separate user will be done
      provisionerDBName: "provisioner"
      brokerDBName: "broker"
    # Values for GCP managed PostgreSQL database
    managedGCP:
      # secret with a secret key used to encrypt particular data
      encryptionSecretName: "kcp-storage-client-secret"
      serviceAccountKey: ""
      instanceConnectionName: ""
      provisioner:
        name: ""
        user: ""
        password: ""
      broker:
        name: ""
        user: ""
        password: ""
      host: "localhost"
      hostPort: "5432"
      sslMode: ""

      #TODO remove below after migration to separate user will be done
      dbUser: ""
      dbPassword: ""
      provisionerDBName: ""
      brokerDBName: ""

  kyma_metrics_collector:
    enabled: false

  oathkeeper:
    host: ory-oathkeeper-proxy.kyma-system.svc.cluster.local
    port: 4455

pairing-adapter:
  enabled: false
