{{ $global := . }}
{{- range $component := .Values.global.components }}
{{ $subchart := printf "%s-component-reconciler" $component }}
{{ if not (hasKey $global.Subcharts $subchart) }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $component }}-reconciler
  namespace: {{ $global.Release.Namespace }}
  labels:
    kyma-project.io/component-reconciler: ""
    component: {{ $component }}
spec:
  type: {{ $global.Values.service.type }}
  ports:
    - port: {{ $global.Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ $global.Values.service.istioPort }}
      targetPort: {{ $global.Values.service.istioPort }}
      protocol: TCP
      name: istio-http
  selector:
    kyma-project.io/component-reconciler: ""
    component: {{ $component }}
---
{{- end }}
{{- end }}
