{{- range $component, $entry := .Values.global.images.components }}
{{ if $.Values.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    component: {{ $component }}
  name: {{ $component }}-reconciler
  namespace: {{ $.Release.Namespace }}
spec:
  endpoints:
  - port: http
    interval: {{ $.Values.serviceMonitor.interval }}
    scrapeTimeout: {{ $.Values.serviceMonitor.scrapeTimeout }}
  namespaceSelector:
    matchNames:
    - {{ $.Release.Namespace }}
  selector:
    matchLabels:
      component: {{ $component }}
---
{{- end }}
{{- end }}