apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ template "kyma-metrics-collector.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
{{ include "kyma-metrics-collector.labels" . | indent 4 }}
subjects:
- kind: ServiceAccount
  name: {{ template "kyma-metrics-collector.fullname" . }}
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: {{ template "kyma-metrics-collector.fullname" . }}
  apiGroup: rbac.authorization.k8s.io
