apiVersion: hydra.ory.sh/v1alpha1
kind: OAuth2Client
metadata:
  name: {{ include "kyma-env-broker.fullname" . }}
spec:
  grantTypes:
    - "client_credentials"
  scope: {{ .Values.kebClient.scope }}
  secretName: {{ include "kyma-env-broker.fullname" . }}-oauth
