apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: subscription-cleanup-job
spec:
  jobTemplate:
    metadata:
      name: subscription-cleanup-job
    spec:
      template:
        metadata:
          annotations:
            sidecar.istio.io/inject: “false”
        spec:
          containers:
            - image: "{{ .Values.global.images.containerRegistry.path }}/{{ .Values.global.images.kyma_environments_subscription_cleanup_job.dir }}kyma-environment-subscription-cleanup-job:{{ .Values.global.images.kyma_environments_subscription_cleanup_job.version }}"
              name: subscription-cleanup-job
              env:
                - name: APP_GARDENER_PROJECT
                  value: {{ .Values.gardener.project }}
                - name: APP_GARDENER_KUBECONFIG_PATH
                  value: {{ .Values.gardener.kubeconfigPath }}
              volumeMounts:
                - mountPath: /gardener/kubeconfig
                  name: gardener-kubeconfig
                  readOnly: true
              resources: {}
          restartPolicy: OnFailure
          volumes:
            - name: gardener-kubeconfig
              secret:
                secretName: {{ .Values.gardener.secretName }}
  schedule: '0 2,14 * * *'
status: {}
