name: Run unit tests
on:
  push:
    branches: [ main ]
    paths:
      - 'components/provisioner/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'components/provisioner/**'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up go environment
        uses: actions/setup-go@v5
        with:
          go-version-file: 'components/provisioner/go.mod'
          cache-dependency-path: 'components/provisioner/go.mod'
      - name: Run unit tests
        run: make -C components/provisioner verify
